body{
    background:#b09595;
  }
h1{color:white}
  .moxybaul{
    max-width: 2500px;
    height: 1180px;
    margin:auto;
    
    overflow: hidden;
    transition: all ease-in-out 1s;
  }

  .nameboxm{
    display: flex;
    color: #e1d9d9;
    text-transform:lowercase;
    text-align: center;
    max-width: 900px;
    height: 650px;
    margin: auto;
    position: relative;
    justify-content: center;
    
    align-items: center;
  }
  .nh1{
    font-family: chill;
    font-size: 350px;
    position: relative;
    margin-right:-30px;
    transition: all ease-in-out 0.9s;
    transition-delay: 0.8s;
  }
  
  .nmox2{
    font-family: chill;
    font-size: 350px;
    position: relative;
    right: -80px;
    transition: all ease-in-out 0.8s;
    transition-delay: 0.8s;
  }
  .moxybaul:hover .nh1{
    left: -1300px;
    transition: all ease-in-out 0.8s;
  }
  
  .moxybaul:hover .nmox2{
    right: -1300px;
    transition: all ease-in-out 0.8s;
  }
  
  .moxybaul:hover{
    background:url(beige-abstract-wallpaper-background-image_53876-102527.avif);
    background-repeat: no-repeat;
  background-size: 100%;
   
   
  }
  .box-dmox{
    max-width: 2500px;
    height: 950px;
    position: relative;
    top: -550px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: rajdhani;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing:1px;
  }


  .datosmox{
    width: 1190px;
    height: 880px;
    background:rgba(166, 128, 128, 0.6);
    color: #f0eaea;
    padding:40px;
    line-height: 12px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -1200px;
    transition: all ease-in-out 0.9s;
    
  }
  .dmox{
    width: 300px;
    margin-right:-60px;
    display: flex;
    align-items: center;
    margin-top:10px;
    padding-bottom:1px;
    justify-content: space-between;
  }
  
  .datosmox m{
    font-weight: 700;
  }
  
  .datosmox n{
    text-align: right;
  }
  
 
  .box-dmox.body {
    padding: 0px;
    font-size: 1.125rem;
    line-height: 1.5rem;
    position: relative;
    transform: translateY(100%);
    animation: slideInTop 2.5s 3s forwards;
  }
  .box-dmox.body::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    border-top: 4.5px solid #dfd0b8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  
  }

  h1{
    font-size: 30px;
  }
  .project{
    max-width: 390px;
    height: 610px;
    background:rgba(0,0,0,0.6);
    margin-left: -590px;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    bottom: -1020px;
    transition: all ease-in-out 0.8s;
  
  }
  
  .moxybaul:hover .project{
    bottom: 0px;
    transition: all ease-in-out 0.8s;
    transition-delay: 0.8s;
  }
  

  .mmox{
    width: 380px;
    display: flex;
    align-items: center;
    background:rgba(0,0,0,0.4);
    padding:11px;
    line-height: 15px;
   
   
  }
  
  .moxybaul:hover .datosmox{
    top: 0px;
    transition: all ease-in-out 0.8s;
    transition-delay: 0.8s;
  }
  
  .mmox i{
    font-size: 32px;
    color: #ccc;
    padding:10px;
  }
  
  .mmox a:hover{
    color: #ccc;
    transition: all ease-in-out 0.3s;
  }
  
  .mmox a{
    width: 70px;
    font-size: 21px;
    font-weight: 700;
    color: rgba(166, 128, 128, 0.6);
    border:0;
    margin-right:22px;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
  }
  
  .mmox m{
    font-size: 21px;
    color: #999;
    margin-left: 22px;
    display: flex;
  }
  
  .mmox m:before{
    content: '/';
    font-weight: 900;
    
    color: #5c4763;
    margin-right: 10px;
  }
  
  .botonmox{
    width: 250px;
    margin: auto;
    display: flex;
    align-items:center;
    margin-top: 20px;
    justify-content: space-between;
  }
  
  .botonmox a{
    color: #5c4763;
    font-size: 20px;
    -webkit-text-stroke: 1px transparent;
    transition: all ease-in-out 0.4s;
  }
  
  .botonmox a:hover{
    -webkit-text-stroke: 1px #5c4763;
    color: transparent;
    transition: all ease-in-out 0.4s;
  }
  
  .bottomlyrm{
    font-family: rajdhani;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #ccc;
    position: relative;
    top: -700px;
    text-align: center;
    line-height: 10px;
    transition: all ease-in-out 0.8s;
    transition-delay: 1s;
  }
  
  .moxybaul:hover .bottomlyrm{
    filter:blur(10px);
    opacity:0;
    transition: all ease-in-out 0.8s;
  }
  
  @font-face {
  font-family: 'Chill';
  font-style: normal;
  font-weight: normal;
  src: url('https://dl.dropbox.com/s/agpnu5irqlaaeco/Chillvornia%20Stamp%20Slant.otf') format('woff');
  }
  .container {
    height: 87%;
    width: 450px;
    padding: 2rem;
    background:rgba(166, 128, 128, 0.6);
    overflow: hidden;
    position: relative;
    top: 40px;
    display: flex;
    margin-left: -420px;
    margin-top:-19px;

  }
  .container .slideshow-container img{
    position:absolute;
    float:right;
    margin-left:0px;
    margin-bottom:90px;

  }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  visibility: hidden;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  .container .gallery {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
  }
  .container .panel-container {
    border-radius: 0.25rem;
    
    position: relative;
    width: 80%;
    background: none;
    transition: width 3s, visibility 2s;
    user-select: none;
    margin-left:-40px
  }
  .container .panel-container:nth-child(1) {
    visibility: hidden;
    transform: translateY(-100%);
    animation: fall 2s 0s forwards;
    transform: translateY(100%);
    animation: fly 2s 0s forwards;
  }
 

  .container .panel-container:has(.panel-control:checked) {
    width: 50%;
  }

  .container .panel-container .panel {
    height: 100%;
    padding: 10px;
    position: relative;
  }


  .container .panel-container .panel-id::before {
    content: "#";
  }
  .container .panel-container .panel-control {
    display: none;
  }
  .container .panel-container .panel-control:checked ~ .panel-id {
    display: none;
  }
  .container .panel-container .panel-control:checked ~ .panel-content {
    display: flex;
  }
  .container .panel-container .panel-content {
    height: 100%;
    width:520px;
    flex-direction: column;
    color: rgb(88, 10, 10);
    letter-spacing: 0.01rem;
    position: relative;
    z-index: 5;
    overflow: hidden;
    display: none;
    transition: display 2s;
  }
  .container .panel-container .panel-content .head {
    padding: 10px;
    font-size: 2.5rem;
    position: relative;
  }


 
  .container .panel-container .panel-content .alt {
    vertical-align: bottom;
  }
  .container .panel-container .panel-content .alt .value::after {
    content: " mts.";
  }
  .container .panel-container .panel-content .spacer {
    flex: 1 0 auto;
  }
  .container .panel-container .panel-content .body {
    padding: 30px;
  
    font-size: 1.125rem;
    line-height: 1.5rem;
    position: relative;
    transform: translateY(100%);
    animation: slideInTop 2.0s 2s forwards;
  }
  .container .panel-container .panel-content .body::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    border-top: 4.5px solid #b3a590;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background:rgba(166, 128, 128, 0.6);
  }
  .container .panel-container .panel-content .title {
    color: rgb(252, 252, 252);
  }
  .container .panel-container .panel-content .value {
    margin-bottom: 0.75rem;
  }
  
  @keyframes fall {
    0% {
      visibility: hidden;
      transform: translateY(-00%);
    }
    100% {
      visibility: visible;
      transform: translateY(0);
    }
  }
  @keyframes fly {
    0% {
      visibility: hidden;
      transform: translateY(100%);
    }
    100% {
      visibility: visible;
      transform: translateY(0);
    }
  }
  @keyframes slideInLeft {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slideInBottom {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  @keyframes slideInTop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes reveal {
    0% {
      flex: 1;
    }
    100% {
      flex: 80%;
    }
  }
  @keyframes squeezeout {
    0% {
      width: 1px;
    }
    100% {
      width: 100px;
    }
  }

